@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next  {
    @apply   text-btn bg-web hover:bg-opacity-100 bg-opacity-70 w-10 h-10 rounded-full !important 
}
 .swiper-button-prev {
    @apply   text-btn bg-web hover:bg-opacity-100 bg-opacity-60 w-10 h-10 rounded-full !important 
}
.hero  .swiper-button-prev   {
    @apply   text-btn bg-transparent !important 
}
.hero .swiper-button-next   {
    @apply   text-btn bg-transparent !important 
}

    /* .swiper-button-next::after {
    display: none;
    }
    .swiper-button-prev::after {
    display: none;
    } */

    :root {
        --swiper-navigation-size: 30px;
      }
    :root .hero {
        --swiper-navigation-size: 44px;
      }

      ::selection {
        @apply bg-btn text-nave
      }

 .FullStars :last-child {
  @apply text-btn
}

/* .RatingPerc  {
  @apply bg-btn text-btn !important
}  */

